In [27]:
import pandas as pd
import numpy as np
import datetime
import time
import seaborn as sns
import data.collected_data.methods.get_listing_median_price as gt
import matplotlib.pyplot as plt
import re
sns.set(rc={'figure.figsize': (15, 10)},
        style="whitegrid", font_scale= 0.8)

path_to_values = '/Users/eaxes/DA Projects/CMC/data/collected_data/coins_date_and_values'

import data.collected_data.economics.schedule as sch

In [28]:
import pandas as pd
import numpy as np

base_df_path = "/Users/eaxes/DA Projects/CMC/data/collected_data/mined/price_token_test.csv"
values_df_path = '/Users/eaxes/DA Projects/CMC/data/collected_data/coins_date_and_values'

slug = "gamefi"
df = pd.read_csv(base_df_path, index_col=0)
token_common_df = df.query("slug == @slug")

In [16]:
token_common_df

,name,ticker,platform_raise,coingecko_id,coingecko_numerical_id,sho_price,personal_allocation,slug,median_listing_sell_price,token_personal_cap,ath_median_listing,for_charts
42,GameFi,GAFI,95000,gamefi,18292,1.0,500.0,gamefi,3.860847855497112e-17,500.0,3.860847855497112e-17,True

In [17]:
coingecko_numerical_id = int(token_common_df.coingecko_numerical_id.values[0])
coingecko_numerical_id

18292

In [18]:
token_charts = pd.read_csv(values_df_path, index_col=0).query('coingecko_numerical_id == @coingecko_numerical_id')
token_charts

       coingecko_numerical_id              date         value
12567                   18292  2021-09-11 00:00  3.860848e-17
12568                   18292  2021-09-12 00:00  3.860848e-17
12569                   18292  2021-09-13 00:00  4.112763e-17
12570                   18292  2021-09-14 00:00  3.669663e-17
12571                   18292  2021-09-15 00:00  4.201025e+01
...                       ...               ...           ...
12830                   18292  2022-06-01 00:00  1.458048e+01
12831                   18292  2022-06-02 00:00  1.511704e+01
12832                   18292  2022-06-03 00:00  1.606969e+01
12833                   18292  2022-06-04 00:00  1.789516e+01
12834                   18292  2022-06-04 12:08  1.645628e+01

[268 rows x 3 columns]

In [19]:
def get_tge_date(path_to_values, coingecko_id):
    print('Tge date processing...')
    try:
        id = int(coingecko_id)
        dateparse = lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M')
        df_values = pd.read_csv(path_to_values, index_col=0,
                                parse_dates=['date'],
                                date_parser=dateparse)
        df_values_for_coin = df_values.query('coingecko_numerical_id == @id')
        if df_values_for_coin.empty:
            return 'no-date'
        else:
            return df_values_for_coin.date.min()
    except BaseException:
        return 'date'

In [20]:
date = get_tge_date(path_to_values, 18292)
date

Tge date processing...

Timestamp('2021-09-11 00:00:00')

In [21]:
date = date + pd.Timedelta(1, unit = 'd')

In [22]:


new_date = start_date - pd.Timedelta(dayDistance, unit="d")

NameError: name 'start_date' is not defined

In [23]:
schedule_table = sch.schedule
schedule = "50% at TGE, 60 days cliff then 5% monthly"

In [24]:
personal_cap = float(token_common_df.token_personal_cap.values[0])
personal_cap

500.0

In [25]:
table = schedule_table[schedule]

In [26]:
result = []
tge_date = get_tge_date(path_to_values, 18292)
for i in range(len(table)):
    if table[i][0] == "0":
        result.append([tge_date, personal_cap * float(table[i][1])])
    else:
        previous_date = result[i - 1][0]
        current_date = previous_date + pd.Timedelta()
        result.append()
result

Tge date processing...

ValueError: cannot construct a Timedelta without a value/unit or descriptive keywords (days,seconds....)

In [29]:
def str_schedule_unit_to_arr(schedule):
    schedule = "1a"
    result = schedule.split(r"a$")
    print(result)